{% extends 'index.html' %}
{% load static %}

{% block content %}
<style>
    a {
        text-decoration: none;
        color: black;
    }

    .gradient-background {
        /* background: linear-gradient(to bottom, #12c2e9, #c471ed, #f64f59); */
        background: linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);
        width: 100%;
        height: 5vh;
        color: white;
        vertical-align: middle;
    }
    

</style>

<div class="container mb-5">
    <div class="row">
        <div class="col text-center">
            <img src="{% static industry_dict.image %}" alt="" style="height: 250px; width: auto;">
        </div>
    </div>
    <div class="row">
        <div class="col d-none d-md-block col-md-3"></div>
        <div class="col-12 col-md-6 text-center">
            <iframe src="{{ industry_dict.link }}" data-test-id="beehiiv-embed" width="100%" height="60" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="col d-none d-md-block col-md-3"></div>
    </div>
    <div class="row mt-3">
        {% for newsletter in newsletters %}
        <div class="col">
            <a href="{{ newsletter.article_url }}" target="_blank">
                <div class="card" style="width: 18rem;">
                    <div class="text-center h4 gradient-background" style="background-color: lightblue;">{{ newsletter.datetime|date:"F jS, Y" }}</div>
                    <img src="{{ newsletter.image_url }}" class="card-img-top" alt="..."><hr>
                    <div class="card-body">
                      <h5 class="card-title">{{ newsletter.title }}</h5>
                      <p class="card-text">{{ newsletter.subtitle }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="row mt-5">
        <div class="col d-none d-md-block col-md-3"></div>
        <div class="col-12 col-md-6 text-center">
            <iframe src="{{ industry_dict.link }}" data-test-id="beehiiv-embed" width="100%" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="col d-none d-md-block col-md-3"></div>
    </div>
</div>

{% endblock content %}