{% load static %}

<style>
    .nav-btn {
        border: none;
        position: relative;
    }

    li {
        list-style-type: none;
        padding: 10px;
    }

    a {
        text-decoration: none;
        text-transform: none;
        font-size: 20px;
        color: white;
        position: relative;
    }

    ul li a:before {
        content: "";
        width: 0;
        height: 5px;
        background-color: #12c2e9;
        position: absolute;
        top: 120%;
        left: 0;
        transition: all 0.5s;
    }

    ul li a:after {
        content: "";
        width: 0;
        height: 5px;
        background-color: #c471ed;
        position: absolute;
        top: 120%;
        right: 0;
        transition: all 0.5s;
    }

    ul li a:hover:before {
        width: 50%;
        transform: translateX(100%);
    }

    ul li a:hover:after {
        width: 50%;
        transform: translateX(-100%);
    }

    ul li a.active:before {
        width: 50%;
        transform: translateX(100%);
    }

    ul li a.active:after {
        width: 50%;
        transform: translateX(-100%);
    }
</style>

<link rel="stylesheet" href="{% static 'base/css/style.css' %}">
<div class="container mt-3">
    <div class="row">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="ms-3 ms-md-0" href="{% url 'home' %}">
                </a>
                <button class="navbar-toggler bg-secondary me-3 me-md-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mt-md-0">
                            <a href="{% url 'home' %}" class="nav-btn btn bg-none text-secondary m-1 {% if request.path == '/' %}active{% endif %}">Home</a>
                        </li>
                        <li class="nav-item mt-md-0">
                            <a href="{% url 'projects' %}" class="disabled nav-btn btn bg-none text-secondary m-1 {% if request.resolver_match.view_name == 'projects' %}active{% endif %}">Projects<br><i>coming soon!</i></a>
                        </li>
                        <li class="nav-item mt-md-0">
                            <a href="{% url 'about' %}" class="nav-btn btn bg-none text-secondary m-1 {% if request.resolver_match.view_name == 'about' %}active{% endif %}">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>