{% load static %}

<style>
    .nav-btn {
        border: none;
        position: relative;
    }

    li {
        list-style-type: none;
        padding: 10px;
    }

    a {
        text-decoration: none;
        text-transform: none;
        font-size: 20px;
        color: white;
        position: relative;
    }

    ul li a:before {
        content: "";
        width: 0;
        height: 5px;
        background-color: #12c2e9;
        position: absolute;
        top: 120%;
        left: 0;
        transition: all 0.5s;
    }

    ul li a:after {
        content: "";
        width: 0;
        height: 5px;
        background-color: #c471ed;
        position: absolute;
        top: 120%;
        right: 0;
        transition: all 0.5s;
    }

    ul li a:hover:before {
        width: 50%;
        transform: translateX(100%);
    }

    ul li a:hover:after {
        width: 50%;
        transform: translateX(-100%);
    }

    ul li a.active:before {
        width: 50%;
        transform: translateX(100%);
    }

    ul li a.active:after {
        width: 50%;
        transform: translateX(-100%);
    }
</style>

<link rel="stylesheet" href="{% static 'base/css/style.css' %}">
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container-fluid">
                <a class="" href="{% url 'home' %}">
                    <img src="{% static 'base/img/keenai_symbol.png' %}" style="height: 80px; width: auto;" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-lg-0">
                        <li class="nav-item text-center">
                            <a class="nav-link me-3 {% if request.path == '/' %}active {% else %} text-secondary {% endif %}" href="{% url 'home' %}"><h4>Home</h4></a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link me-3 {% if request.resolver_match.view_name == 'newsletters' %}active{% else %} text-secondary{% endif %}" href="{% url 'newsletters' 'defense' %}"><h4>DefenseAI</h4></a>
                        </li>
                        <!-- <li class="nav-item text-center dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Newsletters
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'newsletters' 'defense' %}">DefenseAI</a></li>
                                <li><hr class="dropdown-divider"></li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>