@font-face {
    font-family: 'Quantify';
    src: url('./../fonts/Quantify.ttf') format('truetype');
}

* {
    font-family: 'Quantify';
}

body {
    background-color: black;
    color: lightblue;
}